.abertura {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    background-color: var(--cor-preta);
    
    height: 100vh;
}

.background {
    background-image: url(../img/gerais/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.abertura__titulo {
    font-size: 2.25rem;
    font-weight: 700;
    font-family: var(--fonte-titulo);

    color: var(--cor-branca);

    padding-top: 10%;
    padding-left: 5%;
    line-height: 40px;

    align-self: flex-start;
    display: inline-block;
}

.abertura__subtitulo {
    font-size: 1.75rem;
    font-weight: 300;
    font-family: var(--fonte-titulo);
}

.abertura__front {
    font-weight: 400;

    background-color: var(--cor-branca);
    color: #000;
    
    padding: 5px 10px;
    margin-top: 5px;
}

.abertura__btn {
    height: 70px;
    width: 70px;

    margin-bottom: 120px;
}

@media screen and (min-width: 1025px) {
    .abertura {
        align-items: flex-start;
        justify-content: start;
        flex-direction: row;
    }
    .background {
        background-size: 80%;
    }
    .abertura__btn {
        display: none;
    }
}

@media screen and (min-width: 1920px) {
    .abertura__titulo {
        font-size: 3.5rem;
        line-height: 60px;
    }
    .abertura__subtitulo {
        font-size: 2.75rem;
    }
}