.desenvolvimento {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;

    background-color: #DCDCDC;
}

.desenvolvimento__imagem {
    height: auto;
    width: 300px;
}

.desenvolvimento__titulo {
    font-size: 1.75rem;
    font-weight: 700;
    font-family: var(--fonte-titulo);
    text-align: center;
    
    padding-top: 20px;
    padding-bottom: 20px;
}

.botao {
    background-color: #1F2020;
    border: 1px solid #1F2020;
    color: #DCDCDC;
}

.botao:hover {
    background-color: #3F4141;
    border: 1px solid #3F4141;
}

@media screen and (min-width: 1025px) {
    .desenvolvimento__imagem {
        height: auto;
        width: 400px;
    }
    .desenvolvimento__titulo {
        font-size: 2rem;
        padding-top: 10px;
    }
}