.desenvolvimento {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    height: 100vh;

    background-color: var(--cor-detalhes);
}

.desenvolvimento__imagem {
    height: auto;
    width: 300px;
}

.desenvolvimento__titulo {
    font-size: 1.75rem;
    font-weight: 700;
    font-family: var(--fonte-titulo);
    
    text-align: center;
    text-transform: uppercase;
    
    padding-top: 20px;
    padding-bottom: 20px;
}

.botao {
    background-color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
    color: var(--cor-branca);

    margin-bottom: 100px;
}

.botao:hover {
    background-color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
}

@media screen and (min-width: 1025px) {
    .desenvolvimento__imagem {
        height: auto;
        width: 400px;
    }
    .desenvolvimento__titulo {
        font-size: 2rem;
        padding-top: 10px;
    }
    .botao {
        margin-bottom: 50px;
    }
}