:root {
    --fonte-titulo: 'Montserrat', sans-serif;
    --cor-principal: #3F4141;
    --cor-secundaria: #1F2020;
    --cor-detalhes: #DCDCDC;
    --cor-texto: #F4F4F4;
    --cor-branca: #FFF;
    --cor-preta: #111212;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-principal);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 6%;
    padding-right: 6%;
}

.titulo {
    font-size: 1.875rem;
    font-weight: 700;
    font-family: var(--fonte-titulo);

    color: var(--cor-texto);
    background-color: var(--cor-secundaria);

    padding: 20px;
    margin-bottom: 60px;
}

.botao {
    background-color: var(--cor-detalhes);
    border: 1px solid var(--cor-detalhes);
    border-radius: 0px !important;

    font-size: 1.125rem;
    font-weight: 700;
    color: var(--cor-principal);
    text-transform: uppercase;
    line-height: 24px;
    cursor: pointer;

    display: block;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px 0;
    width: 300px;
    
    transition: background .3s linear;
}

.botao:hover {
    background-color: var(--cor-secundaria);
    border-color: var(--cor-secundaria);
    color: var(--cor-texto);
    text-decoration: none;
}